<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
Hello!
<p><a href="newUser">Регистрация</a></p>
<form method="post">
    <p><input type="text" name="firstName" placeholder="Имя"></p>
    <p><input type="text" name="lastName" placeholder="Фамилия"></p>
    <p><input type="text" name="phoneNumber" placeholder="Тел."></p>
    <p><input type="text" name="email" placeholder="email"></p>
    <button type="submit">Зарегестрировать</button>
</form>
</body>
</html>